@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=VT323&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "VT323", monospace;
    font-weight: 400;
}

:root {
    --primary-color: rgb(118, 115, 115);
    --button-color:#030358;
    --button-hover:#00399566;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.wrapper {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
}

.wrapper h2 {
    font-size: 40px;
    margin-bottom: 15px;
}

.id-image {
    width: 100px;
    height: auto;
    margin-bottom: 15px;
}

.wrapper h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.wrapper p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 15px;
}

.proceed-button {
    margin-top: 15px;
}

.proceed-button input {
    background: var(--button-color);
    color: white;
    font-size: 18px;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.proceed-button input:hover {
    background:var(--button-hover);
}
